<section class="contact" id="contato">
    <h2 class="titles__sections">Contato</h2>

    <div class="contact__networks">
        <a href="https://github.com/Deividb2" target="_blank">
            <div>
                <ng-icon name="gitHub"></ng-icon>
            </div>
            <h4>GitHub</h4>
        </a>

        <a href="mailto:deividbarreto57@gmail.com" target="_blank">
            <div>
                <ng-icon name="email"></ng-icon>
            </div>
            <h4>Email</h4>
        </a>

        <a href="https://www.linkedin.com/in/deividbarretocruz" target="_blank">
            <div>
                <ng-icon name="linkedin"></ng-icon>
            </div>
            <h4>Linkedin</h4>
        </a>

        <a href="https://wa.me/5521977201714" target="_blank">
            <div>
                <ng-icon name="whatsapp"></ng-icon>
            </div>
            <h4>Whatsapp</h4>
        </a>
    </div>
</section>