@import "../../../assets/styles/variables";

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-height: 50vh;
    padding: 0 1rem;

    .contact__networks {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3rem;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            text-decoration: none;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1.3rem;
                background-color: $purple-100;
                border-radius: 100%;

                ng-icon {
                    font-size: 1.5rem;
                    color: $white;
                }
            }

            h4 {
                color: $gray;
            }
        }
    }

}

@media(min-width: 768px) {
    .contact {

        .contact__networks {
            gap: 5rem;
        }
    }
}