<div class="card">
    <div class="card__img">
        <div>
            <a href>GitHub</a>
            <a href>Ver Projeto</a>
        </div>
    </div>
    <div class="card__content">
        <h3 class="card__content--title">Restaurante
            Dining</h3>
        <p class="card__content--text">
            Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Facilis illum sapiente incidunt dolorem rem ab
            praesentium itaque!
        </p>
        <div class="card__content--tech">
            <h3 class="card__content--tech__title">Tecnologias</h3>
            <div class="card__content--tech__techs">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>
