@import "../../../assets/styles/_variables.scss";

.header {
    display: flex;
    flex-direction: column;

    &__menuIcon {
        font-size: 2.2rem;
        color: $white;
        padding: 1.2rem 1.5rem;
        position: fixed;
        z-index: 2;
    }

    .openMenu {
        width: 80vw !important;
    }

    &__content {
        transition: width .5s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
        background-color: $purple-100;
        position: fixed;
        height: 100vh;
        width: 0;
        padding-top: 5rem;
        overflow: hidden;

        &--title {
            text-transform: uppercase;
            color: $purple;
            display: none;
        }

        &--nav {
            &__list {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                list-style: none;

                &--item {
                    text-decoration: none;
                    color: $gray;
                    font-size: 1.2rem;
                    font-weight: 700;
                }
            }
        }

        &--networks {
            display: flex;
            justify-content: center;
            gap: 2rem;
            width: 100%;
            font-size: 1.5rem;

            a {
                color: $white;
            }
        }
    }
}