@import "../../../assets/styles/variables";

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
    min-height: 100vh;

    &__box {
        display: grid;
        gap: 4rem;
    }
}

@media (min-width: 768px) {
    .projects {
        &__box {
            grid-template-columns: repeat(2, auto);
            grid-auto-rows: auto;
            row-gap: 4rem;
        }
    }
}

@media (min-width: 1024px) {
    .projects {
        &__box {
            grid-template-columns: repeat(3, auto);
            gap: 4rem;
        }
    }
}

@media (min-width: 1440px) {}