<section class="projects" id="projetos">
    <h2 class="projects__title">Projetos</h2>

    <section class="projects__box">
        <div class="project__card">
            <div class="project__card--img">
                <div>
                    <a href>GitHub</a>
                    <a href>Ver Projeto</a>
                </div>
            </div>
            <div class="project__card--content">
                <h3 class="project__card--content__title">Restaurante
                    Dining</h3>
                <p class="project__card--content__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Facilis illum sapiente incidunt dolorem rem ab
                    praesentium itaque!
                </p>
                <div class="project__card--content__tech">
                    <h3
                        class="project__card--content__tech--title">Tecnologias</h3>
                    <div class="project__card--content__tech--techs">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="project__card">
            <div class="project__card--img">
                <div>
                    <a href>GitHub</a>
                    <a href>Ver Projeto</a>
                </div>
            </div>
            <div class="project__card--content">
                <h3 class="project__card--content__title">Restaurante
                    Dining</h3>
                <p class="project__card--content__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Facilis illum sapiente incidunt dolorem rem ab
                    praesentium itaque!
                </p>
                <div class="project__card--content__tech">
                    <h3
                        class="project__card--content__tech--title">Tecnologias</h3>
                    <div class="project__card--content__tech--techs">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="project__card">
            <div class="project__card--img">
                <div>
                    <a href>GitHub</a>
                    <a href>Ver Projeto</a>
                </div>
            </div>
            <div class="project__card--content">
                <h3 class="project__card--content__title">Restaurante
                    Dining</h3>
                <p class="project__card--content__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Facilis illum sapiente incidunt dolorem rem ab
                    praesentium itaque!
                </p>
                <div class="project__card--content__tech">
                    <h3 class="project__card--content__tech--title">Tecnologias</h3>
                    <div class="project__card--content__tech--techs">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>