<section class="projects" id="projetos">
    <h2 class="titles__sections">Projetos</h2>

    <section class="projects__box">
        <div class="projects__box--card" *ngFor="let project of Projects">
            <img [src]="project.pathImg" alt="Imagem do projeto"
                class="projects__box--card__img">

            <div class="projects__box--card__content">
                <h3 class="projects__box--card__content--title">{{ project.name
                    }}</h3>
                <p class="projects__box--card__content--text">{{
                    project.description }}</p>
                <div class="projects__box--card__content--tech">
                    <h3
                        class="projects__box--card__content--tech__title">Tecnologias</h3>
                    <div class="projects__box--card__content--tech__techs">
                        <div *ngFor="let icon of project.techs">
                            <ng-icon [name]="icon"></ng-icon>
                        </div>
                    </div>
                </div>

                <div class="projects__box--card__content--buttons">
                    <a [href]="project.linkGitHub" target="_blank">GitHub</a>
                    <a [href]="project.linkProject" target="_blank">Ver
                        Projeto</a>
                </div>
            </div>
        </div>
    </section>
</section>