@import "../../../assets/styles/variables";

main {
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        padding: 2rem 1rem;

        &__photo {
            width: 18rem;
            height: 18rem;
            border-radius: 50%;
            background: url(../../../assets/images/profile.jpg) no-repeat center / cover;
            box-shadow: 0 0 20px $purple-light;
        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: 2.2rem;

            &--text {
                display: grid;
                gap: .5rem;

                &>h2 {
                    color: #7441eb;
                    color: $purple;
                    font-size: 1.3rem;
                }

                &__title {
                    font-size: 1.5rem;
                    color: $white;
                    margin-bottom: .5rem;
                }

                &__function {
                    font-size: 1.5rem;
                    color: $purple;
                    margin: 0 0 1rem;
                }

                &__description {
                    line-height: 1.5rem;
                    color: $gray;

                    strong {
                        color: $purple;
                    }
                }
            }

            .profile__tech {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;

                & div {
                    display: grid;
                    place-content: center;
                    padding: 1rem;
                    background-color: transparent;
                    border: 2px solid $gray;
                    border-radius: 15%;
                    font-size: 1.4rem;
                    color: $gray;
                    transition: all .5s ease;

                    &:hover {
                        color: $purple;
                        border-color: $purple;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .profile {
        min-height: 90vh;
        justify-content: center;

        .profile__content {
            width: 80vw;

            .profile__tech {
                justify-content: start;
            }
        }

    }
}

@media (min-width: 1024px) {
    main {
        display: grid;
        place-content: center;

        .profile {
            display: grid;
            grid-template-columns: 1fr 1.2fr;
            place-content: center;
            gap: 0;
            max-width: 70rem;

            .profile__photo {
                place-self: center;
            }

            .profile__content {
                width: 100%;

                .profile__content--text {
                    .profile__content--text__title {
                        font-size: 1.4rem;
                    }

                    .profile__content--text__subtitle {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}