<main id="sobre">
    <div class="profile">
        <div class="profile__photo"></div>

        <div class="profile__content">
            <div class="profile__content--text">
                <h2>Quem sou</h2>
                <h1 class="profile__content--text__title">
                    Deivid Barreto
                </h1>
                <h2 class="profile__content--text__function">
                    Desenvolvedor Front-End
                </h2>
                <p>
                    Minha jornada na programação começou aos 17 anos, em meio a
                    infinitas incertezas sobre o meu futuro. Decidi mergulhar de
                    cabeça em programação e escolhi o desenvolvimento web como
                    foco dos meus estudos. Desde então, tenho me dedicado a
                    transformar conceitos em interfaces visuais cativantes e
                    funcionais. Afinal, criar botões é uma das minhas paixões!
                </p>
            </div>

            <div class="profile__tech">
                <div><ng-icon name="html"></ng-icon></div>
                <div><ng-icon name="css"></ng-icon></div>
                <div><ng-icon name="js"></ng-icon></div>
                <div><ng-icon name="angular"></ng-icon></div>
                <div><ng-icon name="ts"></ng-icon></div>
            </div>
        </div>
    </div>
</main>