$black: #000;
$black-100: #202020; 
$white: #fff;
$purple: #986DFF;
$purple-100: #5d31c2; 
$gray: #9CA3AF;
$gray-100: #828282;

$black-default: #000;
$black-light: #202020;
$white-default: #FFF;
$purple-light: #986DFF;
$purple-dark: #5D31C2;
$gray-light: #9CA3AF;
$gray-dark: #828282;